html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: #FCFCFC;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  background-image: url(../styles/animal-land-assets/image-1.jpg);
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-position: center bottom;
  position: relative;
}
header .inSiteNavigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
header .inSiteNavigation ul li {
  text-transform: uppercase;
  padding: 1%;
}
header .inSiteNavigation ul li a {
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 22px;
}
header .inSiteNavigation .hamburgerMenu {
  visibility: hidden;
}
header .h1 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 30%;
  top: -5%;
}
header .h1 h1 {
  text-transform: capitalize;
  font-family: "Fredericka the Great", cursive;
  color: #FCFCFC;
  font-size: 12rem;
}
header .inSiteNavigation li, header .socialMediaNavigation li {
  list-style-type: none;
}
header .inSiteNavigation a, header .socialMediaNavigation a {
  color: #FCFCFC;
}
header .socialMediaNavigation {
  position: absolute;
  bottom: 15px;
  right: 40px;
  font-size: large;
}
header .socialMediaNavigation li {
  padding: 20%;
}

.suzieStory {
  padding: 75px 0;
  background-color: #152D20;
}
.suzieStory .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.suzieStory .suzieImg {
  width: 30%;
  min-width: 400px;
}
.suzieStory .suzieImg img {
  width: 100%;
  height: 400px;
}
.suzieStory .suzieContent {
  width: 70%;
  min-width: 400px;
}
.suzieStory .suzieContent h2 {
  font-size: 5.1rem;
  font-family: "Fredericka the Great", cursive;
  text-transform: uppercase;
}
.suzieStory .suzieContent p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
.suzieStory .suzieContent button {
  text-transform: uppercase;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}