html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: #FCFCFC;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  position: relative;
  margin: 0;
  padding: 0;
}
header .tigerImage {
  width: 100%;
}
header .inSiteNavigation {
  position: absolute;
}
header .inSiteNavigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
header .inSiteNavigation ul li {
  text-transform: uppercase;
  padding: 1%;
}
header .inSiteNavigation ul li a {
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 22px;
}
header .inSiteNavigation .hamburgerMenu {
  visibility: hidden;
}
header .h1Container {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 30%;
  top: 5%;
}
header .h1Container h1 {
  text-transform: capitalize;
  font-family: "Fredericka the Great", cursive;
  color: #FCFCFC;
  font-size: 12rem;
}
header .inSiteNavigation li, header .socialMediaNavigation li {
  list-style-type: none;
}
header .inSiteNavigation a, header .socialMediaNavigation a {
  color: #FCFCFC;
}
header .socialMediaNavigation {
  position: absolute;
  bottom: 15px;
  right: 40px;
  font-size: large;
}
header .socialMediaNavigation li {
  padding: 20%;
}

.suzieStory {
  padding: 75px 0;
  margin: 0;
  background-color: #152D20;
  max-height: 450px;
}
.suzieStory .suzieImg {
  width: 30%;
  min-width: 400px;
}
.suzieStory .suzieImg img {
  width: 100%;
  height: 400px;
}
.suzieStory .suzieContent {
  width: 70%;
  max-height: 400px;
  min-width: 400px;
  padding-left: 2%;
}
.suzieStory .suzieContent h2 {
  font-size: 5.1rem;
  font-family: "Fredericka the Great", cursive;
  text-transform: uppercase;
  margin-top: 0;
}
.suzieStory .suzieContent p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-top: 0;
}
.suzieStory .suzieContent button {
  text-transform: uppercase;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ourFriendsContainer {
  background-color: #C3D3CB;
  height: 60rem;
}
.ourFriendsContainer .ourFriendsContentContainer {
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ourFriendsContainer .ourFriendsContentContainer .ourFriendsh2Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ourFriendsContainer .ourFriendsContentContainer .ourFriendsh2Container h2 {
  color: #152D20;
  text-align: center;
  text-transform: uppercase;
  font-family: "Fredericka the Great", cursive;
  font-size: 4.9rem;
}
.ourFriendsContainer .ourFriendsContentContainer .ourFriendsImages {
  min-width: 1200px;
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.ourFriendsContainer .ourFriendsContentContainer .ourFriendsImages .animalImagesContainers {
  -o-object-fit: cover;
     object-fit: cover;
  height: 40rem;
  min-height: 100px;
}
.ourFriendsContainer .ourFriendsContentContainer .ourFriendsImages .animalImagesContainers img {
  height: 100%;
}

.middleLinkContainer {
  height: 15rem;
  background-color: #152D20;
}
.middleLinkContainer .wrapper {
  padding-top: 5px;
  min-width: 1200px;
  height: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.middleLinkContainer .wrapper .linkBox {
  height: 100%;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.middleLinkContainer .wrapper .linkBox .animalSpotlight {
  padding-left: 2%;
  text-align: center;
}
.middleLinkContainer .wrapper .linkBox a {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FCFCFC;
}