@use 'setup';


// The sizing and styling of the page was created based on a screen size of max 1800px;



// Variables
    // Font Color
$primaryFontColor: #FCFCFC;
$secondaryFontColor: #152D20;
    // Font Family
$mainFontFam: 'Fredericka the Great',cursive;
$secondFontFam:'Cormorant Garamond', serif; 
$thirdFontFam: 'Roboto', sans-serif;
    // Font Size
$h1Size: 12rem;
$h2Size: 5.1rem;
$h2Size2: 4.9rem;
$h3Size: 3.5rem;
$paragraphSize: 2rem;
$linkSize: 2.2rem;
$buttonSize:2.9rem;

    // Bakcground Color
$mainBackgroundColor: #152D20;
$secondBackgroundColor: #C3D3CB;
$thirdBackgroundColor: #FCFCFC;


// General Styling
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: $primaryFontColor;
}

body {
    margin: 0;
    background-color: $mainBackgroundColor;
}

.wrapper {
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    display: flex;
}

// Navigation Styling
header {
    position: relative;
    margin: 0;
    padding: 0;
    .tigerImage{
        width: 100%;
    }
        .inSiteNavigation {
            position: absolute;
            ul{
                display: flex;
                width: 100%;
                li{
                    text-transform: uppercase;
                    padding: 1%;
                    a{
                        text-decoration: none;
                        font-family: $secondFontFam;
                        font-size: 22px;
                    }
                }
            }
        
            .hamburgerMenu {
                visibility: hidden;
            } 
            
        }
        
          .h1Container{
            width: 150px;
            height: 150px;
            position: absolute;
            right: 30%;
            top: 5%;
                h1 {
                    text-transform: capitalize;
                    font-family: $mainFontFam;
                    color: $primaryFontColor;
                    font-size: $h1Size;
                }
            }

        .inSiteNavigation, .socialMediaNavigation {
            li{
                list-style-type: none;
            }
        
            a {
                color: $primaryFontColor;
            }
        }

        .socialMediaNavigation {
            position: absolute;
                bottom: 15px;
                right: 40px;
            font-size: large;
                li{
                    padding: 20%;
                }
        }
}


// Section 2 - Suzie's Story 
.suzieStory{
    padding: 75px 0;
    margin: 0;
    background-color: $mainBackgroundColor;
    max-height: 600px;
    height: 70rem; 
        .suzieImg{
            width: 30%;
            min-width: 400px;
                img {
                    width: 100%;
                    height: 100%;
                }
        }

        .suzieContent {
            width: 65%;
            max-height: 400px;
            min-width: 400px;
            padding-left: 2%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-size: $h2Size;
                font-family: $mainFontFam;
                text-transform: uppercase;
                margin:0;
            }
            p{
                font-family: $thirdFontFam;
                font-size: $paragraphSize;
                margin:0;
            }

            button {
                width: 20%;
                min-width: 175px;
                text-transform: uppercase;
                padding-right: 30px;
                padding-left: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
}


// Section 3 - "Some of Our Friends" Section
.ourFriendsContainer {
    background-color: $secondBackgroundColor;
    height: 60rem;
        .ourFriendsContentContainer{
            width:90%;
            flex-direction: column;
            .ourFriendsh2Container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                h2 {
                    color: $secondaryFontColor;                
                    text-align: center;
                    text-transform: uppercase;
                    font-family: $mainFontFam;
                    font-size: $h2Size2;
                }
            }
           
            .ourFriendsImages {
                min-width: 1200px;
                max-width: 1500px;                
                display: flex;
                justify-content: space-evenly;

                .animalImagesContainers {
                    object-fit: cover;
                    height: 40rem;
                    min-height: 100px;
                    img{
                        height: 100%;
                    }
                }
            }
        }
}

// Section4 - Middle Link Container 
.middleLinkContainer {
    height: 15rem;
    background-color: $mainBackgroundColor;
    .wrapper {
        padding-top: 5px;
        min-width: 1200px;
        height: 90%;
        justify-content: space-evenly;
        align-items: center;  
            .linkBox {
                height: 100%;
                width: 15%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                    .animalSpotlight {
                        padding-left: 2%;
                        text-align: center;
                    }
                    a{
                        font-family: $secondFontFam;
                        font-size: $linkSize;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $primaryFontColor;
                    }
          }
    }
}

// Section 5- Blog Container 
.blogContainer {
    display: flex;
    flex-direction: column;
    height: 120rem;
    background-color: rgb(45, 44, 44);
    .blogTopRow {
        display: flex;
        height: 50%;
            .zebraImage, .zebraLinkBox {
                width: 50%;
                min-width: 500px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .zebraLinkBox {
                padding: 10vw;
                h3{
                    text-transform: uppercase;
                    font-size: $h3Size;
                    margin-top: 0;
                    color: $secondBackgroundColor;
                }
                p{
                    font-size: $paragraphSize;
                    color: $secondBackgroundColor;
                }
                button {
                    text-transform: uppercase;
                    font-size: $buttonSize;
                    background-color: $mainBackgroundColor;
                    padding-top: 3%;
                    padding-bottom: 3%;
                    padding-left: 10%;
                    padding-right: 10%;
                    border: $secondaryFontColor;
                    color: $primaryFontColor;
                }
            }
    }
    .blogBottomRow {
        display: flex;
        flex-direction: row-reverse;
        height: 50%;
            .bondContainer, .catAndHumanHandImage {
                width: 50%;
                min-width: 500px;
                h3{
                    text-transform: uppercase;
                    font-size: $h3Size;
                    margin-top: 0;
                    color: $secondBackgroundColor;
                }
                 img {
                    width: 100%;
                    height: 100%;
                }
                p{
                    font-size: $paragraphSize;
                    color: $secondBackgroundColor;
                }
                button {
                    text-transform: uppercase;
                    font-size: $buttonSize;
                    background-color: $mainBackgroundColor;
                    padding-top: 3%;
                    padding-bottom: 3%;
                    padding-left: 10%;
                    padding-right: 10%;
                    border: $secondaryFontColor;
                    color: $primaryFontColor;
                }
            }
            .bondContainer {
                padding: 10vw;
            }
        }
    }


//Section 6 - Bottom Information Centre Section
.bottomInformationContainer {
    height: 25vh;
    width: 100%;
        .wrapper {
            align-items: center;
            justify-content: space-between;
            height: 100%;
            flex-basis: 32%;
            margin-top: 1%;
            margin-bottom: 3%;
        }
        
}

.bottomNavigation, .contactInformation {
    width: 30%;
    height: 100%;
    font-family: $secondFontFam ;
}
.bottomNavigation {
    display: flex;
              nav{
                height: 100%;
                display: flex;
                
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
                li{
                    list-style-type: none;
                }

                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: $primaryFontColor;
                    font-size: $paragraphSize;
                }
            }
        }
.signUpSheet {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2%;
    font-family: $secondFontFam;
    h4{
        text-transform: uppercase;
        text-align: center;
        margin: 1%;
        font-size: $linkSize;
        font-weight: 600;
    }
    p{
        text-align: center;
        margin-bottom: 3%;
        font-size: $paragraphSize;

    }
    form {
        width: 100%;
        display: flex;
        justify-content: center;
        input{
            flex-grow: 3;
            height: 35px;
        }
        button {
            flex-grow: 1;
        }
    }
}

.contactInformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    h4{
        margin: 0;
        text-transform: uppercase;
        font-size: $linkSize;
    }
    .info{
        p{
            display: flex;
            justify-content: flex-end;
            font-size: $paragraphSize;
            margin: 0;
            padding-top: 4%;
        }
    }
}

// Section 7- Footer
footer { 
    background-color: black;
    display: flex;
    justify-content: center;
    p{
        margin: 0;
        padding: 20px;
        color: $primaryFontColor;
        font-family: $thirdFontFam;
        font-weight: 600;
        font-size: $paragraphSize;
    }
}


// Media Queries 
@media (max-width: 1400px) {
    header {
        h1{
            width: 100px;
            height: 100px;
            position: absolute;
            right: 20%;
            top: -50%;
        }
    }
}

@media(max-width: 1100px) {
    header {
        h1{
            width: 100px;
            height: 100px;
            position: absolute;
            right: 20%;
            top: -50%;
        }
    }
}

@media(max-width: 900px){
    header {
        h1{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 5%;
            top: -5%;
        }
        .inSiteNavigation, .socialMediaNavigation{
            visibility: hidden;
        }
        
        .hamburgerMenu{
            visibility: visible ;
            position: absolute;
                right: 5%;
                top: 20%;
            z-index: 2;
            color: $primaryFontColor;
           
        }
    }
}