// Variables
    // Font Color
$primaryFontColor: #FCFCFC;
$secondaryFontColor: #152D20;
    // Font Family
$mainFontFam: 'Fredericka the Great',cursive;
$secondFontFam:'Cormorant Garamond', serif; 
$thirdFontFam: 'Roboto', sans-serif;
    // Font Size
$h1Size: 12rem;
$h2Size: 5.1rem;
$h2Size2: 4.9rem;
$paragraphSize: 2rem;
$linkSize: 2.2rem;

    // Bakcground Color
$mainBackgroundColor: #152D20;
$secondBackgroundColor: #C3D3CB;
$thirdBackgroundColor: #FCFCFC;


// General Styling
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: $primaryFontColor;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    display: flex;
}

// Navigation Styling
header {
    // the background image size + header size was assumed based on max-1500px screen.
    position: relative;
    margin: 0;
    padding: 0;
    .tigerImage{
        width: 100%;
    }
        .inSiteNavigation {
            position: absolute;
            ul{
                display: flex;
                width: 100%;
                li{
                    text-transform: uppercase;
                    padding: 1%;
                    a{
                        text-decoration: none;
                        font-family: $secondFontFam;
                        font-size: 22px;
                    }
                }
            }
        
            .hamburgerMenu {
                visibility: hidden;
            } 
            
        }
        
          .h1Container{
            width: 150px;
            height: 150px;
            position: absolute;
            right: 30%;
            top: 5%;
                h1 {
                    text-transform: capitalize;
                    font-family: $mainFontFam;
                    color: $primaryFontColor;
                    font-size: $h1Size;
                }
            }

        .inSiteNavigation, .socialMediaNavigation {
            li{
                list-style-type: none;
            }
        
            a {
                color: $primaryFontColor;
            }
        }

        .socialMediaNavigation {
            position: absolute;
                bottom: 15px;
                right: 40px;
            font-size: large;
                li{
                    padding: 20%;
                }
        }
}


// Section 2 - Suzie's Story 
.suzieStory{
    padding: 75px 0;
    margin: 0;
    background-color: $mainBackgroundColor;
    max-height: 450px;
        
        .suzieImg{
            width: 30%;
            min-width: 400px;
                img {
                    width: 100%;
                    height: 400px;
                }
        }

        .suzieContent {
            width: 70%;
            max-height: 400px;
            min-width: 400px;
            padding-left: 2%;
            h2 {
                font-size: $h2Size;
                font-family: $mainFontFam;
                text-transform: uppercase;
                margin-top: 0;
            }
            p{
                font-family: $thirdFontFam;
                font-size: $paragraphSize;
                margin-top: 0;
            }

            button {
                text-transform: uppercase;
                padding-right: 30px;
                padding-left: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
}

.ourFriendsContainer {
    background-color: $secondBackgroundColor;
    height: 60rem;
        .ourFriendsContentContainer{
            width:90%;
            flex-direction: column;
            .ourFriendsh2Container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                h2 {
                    color: $secondaryFontColor;                
                    text-align: center;
                    text-transform: uppercase;
                    font-family: $mainFontFam;
                    font-size: $h2Size2;
                }
            }
           
            .ourFriendsImages {
                min-width: 1200px;
                max-width: 1500px;                
                display: flex;
                justify-content: space-evenly;

                .animalImagesContainers {
                    object-fit: cover;
                    height: 40rem;
                    min-height: 100px;
                    img{
                        height: 100%;
                    }
                }
            }
        }
}

.middleLinkContainer {
    height: 15rem;
    background-color: $mainBackgroundColor;
    .wrapper {
        padding-top: 5px;
        min-width: 1200px;
        height: 90%;
        justify-content: space-evenly;
        align-items: center;  
            .linkBox {
                height: 100%;
                width: 15%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                    .animalSpotlight {
                        padding-left: 2%;
                        text-align: center;
                    }
                    a{
                        font-family: $secondFontFam;
                        font-size: $linkSize;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $primaryFontColor;
                    }
          }
    }
}